<!DOCTYPE html>
<html>
  <head>
    <title>Prikmeter</title>
  </head>
  <body>
    {% if messages %}
      <ul class="messages">
      {% for message in messages %}
        <li class="message-{{ message.level_tag }}">{{ message }}</li>
      {% endfor %}
      </ul>
    {% endif %}
    {% if user.is_authenticated %}
      <h3>Logged in as {{ user.email }}</h3>
      <form action="{% url 'prikmeter:logout' %}" method="POST">
        {% csrf_token %}
        <input value="Log out" type="submit">
      </form>
      <div id="main">
        <div style="margin: 0 -15px">
        {% for meter in meters %}
          <div style="float: left; width: 500px; margin: 0 15px">
            <h3>{{ meter.type | title }}: <code>{{ meter.id }}</code></h3>
            <meter-readings meter-type="{{ meter.type }}" meter-id="{{ meter.id }}"></meter-readings>
          </div>
        {% endfor %}
        </div>
        <div style="clear: both"></div>
        <h3>Auth tokens</h3>
        <ul>
          {% for authToken in authTokens %}
            <li><code>{{ authToken.token }}</code></li>
          {% endfor %}
        </ul>
      </div>
    {% else %}
      <h3>Log in</h3>
      <form action="{% url 'prikmeter:login' %}" method="POST">
        {% csrf_token %}
        Email: <input name="email" type="email">
        Password: <input name="password" type="password">
        <input name="next" type="hidden" value="{{ next_url }}">
        <input value="Log in" type="submit">
      </form>
      <h3>Create account</h3>
      <form action="/users" method="POST">
        {% csrf_token %}
        Email: <input name="email" type="email">
        Password: <input name="password1" type="password">
        Password (repeated): <input name="password2" type="password">
        <input name="next" type="hidden" value="{{ next_url }}">
        <input value="Create account" type="submit">
      </form>
    {% endif %}
    <script src="//www.gstatic.com/charts/loader.js"></script>
    <script src="/static/main.js"></script>
  </body>
</html>
