<!DOCTYPE html>
<html>
  <head>
    <title>Prikmeter</title>
  </head>
  <body>
    {% if errors %}
      <h3>Errors</h3>
      <ul>
      {% for error in errors %}
        <li>{{ error }}</li>
      {% endfor %}
      </ul>
    {% endif %}
    {% if user %}
      <h3>Logged in as {{ user.email }}</h3>
      <form action="/logout" method="POST">
        <input value="Log out" type="submit">
      </form>
      {% for meter in meters %}
        <h3>{{ meter.type | title }}: <code>{{ meter.id }}</code></h3>
        <div class="meterReadings" data-index="{{ loop.index0 }}"></div>
      {% endfor %}
      <h3>Auth tokens</h3>
      <ul>
        {% for authToken in authTokens %}
          <li><code>{{ authToken.token }}</code></li>
        {% endfor %}
      </ul>
    {% else %}
      <h3>Log in</h3>
      <form action="/login" method="POST">
        Email: <input name="email" type="email">
        Password: <input name="password" type="password">
        <input name="return_url" type="hidden" value="{{ return_url }}">
        <input value="Log in" type="submit">
      </form>
      <h3>Create account</h3>
      <form action="/users" method="POST">
        Email: <input name="email" type="email">
        Password: <input name="password1" type="password">
        Password (repeated): <input name="password2" type="password">
        <input name="return_url" type="hidden" value="{{ return_url }}">
        <input value="Create account" type="submit">
      </form>
    {% endif %}
    <script src="//www.gstatic.com/charts/loader.js"></script>
    <script>
      var meters = {{ meters | jsonInsideScriptTag }};
    </script>
    <script src="/static/scripts/bundle.js"></script>
  </body>
</html>
