<!DOCTYPE html>
<html>
  <head>
    <title>Prikmeter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      * {
        box-sizing: border-box;
      }
      .container {
        margin: 0 15px;
      }
      .row {
        margin: 0 -15px;
      }
      .meter-column {
        float: left;
        width: calc(100% - 30px);
        margin: 0 15px;
      }
      @media (min-width: 992px) {
        .meter-column {
          max-width: 473px;
        }
      }
      .overflow-wrap-break-word {
        overflow-wrap: break-word;
      }
      .p-relative {
        position: relative;
      }
    </style>
  </head>
  <body class="container">
    {% if errors %}
      <h3>Foutmeldingen</h3>
      <ul>
      {% for error in errors %}
        <li>{{ error }}</li>
      {% endfor %}
      </ul>
    {% endif %}
    {% if user %}
      <h3>
        Aangemeld als {{ user.email }}
        <form action="/logout" method="POST" style="display: inline">
          <input value="Afmelden" type="submit">
        </form>
      </h3>
      <div id="main">
        <div class="row p-relative">
        {% for meter in meters %}
          <div class="meter-column">
            <h3>
              {% if meter.type == 'electricity' %}Elektriciteit{% endif %}
              {% if meter.type == 'gas' %}Gas{% endif %}
              <br>
              <small>Meternummer <code>{{ meter.id }}</code></small>
            </h3>
            <meter-readings meter-type="{{ meter.type }}" meter-id="{{ meter.id }}"></meter-readings>
          </div>
        {% endfor %}
        </div>
        <div style="clear: both"></div>
        <h3>Authenticatie-tokens</h3>
        <ul>
          {% for authToken in authTokens %}
            <li class="overflow-wrap-break-word"><small><code>{{ authToken.token }}</code></small></li>
          {% endfor %}
        </ul>
      </div>
    {% else %}
      <h3>Aanmelden</h3>
      <form action="/login" method="POST">
        E-mail: <input name="email" type="email">
        Wachtwoord: <input name="password" type="password">
        <input name="return_url" type="hidden" value="{{ return_url }}">
        <input value="Aanmelden" type="submit">
      </form>
      <h3>Create account</h3>
      <form action="/users" method="POST">
        E-mail: <input name="email" type="email">
        Wachtwoord: <input name="password1" type="password">
        Wachtwoord (herhaling): <input name="password2" type="password">
        <input name="return_url" type="hidden" value="{{ return_url }}">
        <input value="Account aanmaken" type="submit">
      </form>
    {% endif %}
    <script src="//www.gstatic.com/charts/loader.js"></script>
    <script src="/static/main.js"></script>
  </body>
</html>
